body{
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

li {
  list-style-type: none;
}

.todo-list {
  max-width: 600px;
  margin: auto;
}

.todo-list > li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.todo-list button {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

