body{
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

li {
  list-style-type: none;
}

.todo-wrap {
  max-width: 600px;
  margin: auto;
  padding: 30px 0;
}

.todo-list > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

.todo-list button {
  min-width: 80px;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button-list {
  flex-shrink: 0;
}

form {
  margin-top: 30px;
  text-align: center;
}

form > input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form > button {
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #1968a8;
  color: #fff;
}